body {
    background: black;
}

.name {
    font-family: "Cookie";
    font-size: 200px;
    color: white;
    position: absolute;
}

.led {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    margin-bottom: 0px;
    width: 20px;
    height: 20px;
    border-radius: 0px;
    background-color: rgba(0, 125, 255, 1);;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 125, 255, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0, 125, 255, .75);
    box-shadow: 0px 0px 15px 5px rgba(0, 125, 255, .75);
}

.off {
    background-color: #222222;
     -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 190, .75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 190, .75);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 190, .75);
}